name: Deployment
on:
  push:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v5
      - name: Install dependencies from cache
        uses: ./.github/actions/cached-deps
        
      - name: Lint code
        run: npm run lint
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v5
      - name: Install dependencies from cache
        id: cache
        uses: ./.github/actions/cached-deps
        with:
          caching: 'true'
      - name: Used cache
        run: echo "Cache used? ${{ steps.cache.outputs.used-cache}}"
      - name: Test code
        id: run-tests
        run: npm run test
      - name: Upload test report
        if: failure() && steps.run-tests.outcome == 'failure'
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: test.json
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v5
      - name: Install dependencies from cache
        uses: ./.github/actions/cached-deps
        with:
          caching: 'true'
      - name: Build website
        run: npm run build
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-files
          path: dist
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v5
      - name: Get build artifacts
        uses: actions/download-artifact@v5
        with:
          name: dist-files
          path: ./dist
      - name: Output contents
        run: ls
      - name: Setting up environment for deployment
        run: |
          cd ./.github/actions/deploy-s3-js
          npm init -y
          npm install @actions/core @actions/exec @actions/github
      - name: Deploy site
        id: deploy
        uses: ./.github/actions/deploy-s3-js
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        with:
          bucket-name:
          artifact-folder: ./dist
          bucket-region: us-east-1
      - name: Website url
        run: |
          echo "website url: ${{ steps.deploy.outputs.website-url}}"